{% extends 'base.html.twig' %}
{% block title %}Edit{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="text-decoration-none text-center text-white" href="{{ path('admin.all') }}"><button class="btn btn-primary">Get back</button></a>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center mt-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
