{% extends 'base.html.twig' %}
{% block title %}All{% endblock %}
{% block body %}
    <div class="container">     
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center mt-4">
                <h1>Create new MOVIE</h1>
            </div>
            <div class="col-12 d-flex justify-content-center align-items-center mt-4">
                {{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}
