{% extends "base.html.twig" %} 
{% block title 'Films' %}
    
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Voici tout les </h1>
            <p class="lead">{{ current_view }}</p>
        </div>
    </div>
{% endblock %}