{% extends "base.html.twig" %} 
{% block title 'Single Film' %}
    
{% block body %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Voici le film {{ film.nom }}</h1>
        </div>
    </div>
{% endblock %}